li{
	display: inline;
	font-family: arial;
	font-size: 40px;
	padding-right: 10px;
}
a{
	text-decoration: none;
	color:black;
}
ul{
	background: red;
	text-align: center;
}

a:hover{
	color:blue;
	text-decoration: underline;
	font-size: 60px;
}